{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Дон Хулио</title>
    <link rel="icon" href="{% static 'don_julio_pub/images/logo.svg' %}" type="image/svg+xml">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link type="text/css" rel="stylesheet" href="{% static 'style.css' %}">
    {% block head_extra %}{% endblock %}

</head>
<body>
    <header>
        <span>Don</span>
        <img src="{% static 'don_julio_pub/images/logo.svg' %}" class = "main-logo" alt="Логотип бара">
        <span>Julio</span>
    </header>
    <nav>
        <a href="{% url 'home' %}">Главная</a>
        <a href="{% url 'menu' %}">Меню</a>
        <a href="{% url 'news' %}">Новости</a>
        <a href="{% url 'contacts' %}">Контакты</a>
    </nav>

    {% block content %}
    
    {% endblock %}
    
    <footer>
        &copy; 2025 Дон Хулио. Все права защищены и принадлежат не нам)).
    </footer>
</body>
</html>
